<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/loginpage/css/style.css" />
  </head>
  <body>
    <div class="scene-login">
      <div class="div">
        <div class="overlap">
          <div class="text-wrapper">Hola Cuisine Restaurant</div>
          <div class="overlap-group">
            <div class="text-wrapper-2">Home</div>
            <img class="ic-round-home" src="../static/loginpage/img/ic-round-home.svg" />
          </div>
        </div>
        <div class="overlap-2">
          <div class="rectangle"></div>
          <img class="true-food-kitchen" src="../static/loginpage/img/true-food-kitchen-35-1.png" />
        </div>
        <div class="div-wrapper"><p class="p">@Copyright 2023 Hola Cuisine Restaurant</p></div>
        <div class="overlap-group-2">
          <div class="text-wrapper-3">login</div>
          <p class="text-wrapper-4">Sign in to your account</p>
          <div class="overlap-3">
            <div class="text-wrapper-5">Username</div>
            <img class="user-solid" src="../static/loginpage/img/user-solid-1.svg" />
          </div>
          <div class="overlap-4">
            <div class="text-wrapper-5">Password</div>
            <img class="key-solid" src="../static/loginpage/img/key-solid-1.svg" />
          </div>
          <div class="overlap-5"><div class="text-wrapper-6">Login</div></div>
          <div class="overlap-6">
            <div class="text-wrapper-7">Login with email</div>
            <img class="envelope-solid" src="../static/loginpage/img/envelope-solid-1.svg" />
          </div>
          <p class="text-wrapper-8">I forgot my password. Click here to reset</p>
          <div class="overlap-7"><div class="text-wrapper-9">Register new account</div></div>
        </div>
      </div>
    </div>
  </body>
</html>
