<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <link rel="stylesheet" href="../static/registerpage/css/style.css" />

  </head>
  <body>
    <div class="scene-register">
      <div class="div">
        <div class="overlap">
          <div class="text-wrapper">Hola Cuisine Restaurant</div>
          <div class="overlap-group">
            <div class="text-wrapper-2">Home</div>
            <img class="ic-round-home" src="../static/registerpage/img/ic-round-home.svg" />
          </div>
        </div>
        <div class="overlap-2">
          <div class="overlap-3">
            <img class="rectangle" src="../static/registerpage/img/rectangle-2.png" />
            <div class="rectangle-2">
              <div class="p">@Copyright 2023 Hola Cuisine Restaurant</div>
            </div>
            
          </div>
          <div class="overlap-group-2">
            <div class="text-wrapper-3">Register</div>
            <p class="text-wrapper-4">Sign up to your account</p>
            <div class="div-wrapper"><div class="text-wrapper-5">First name</div></div>
            <div class="overlap-4">
              <div class="rectangle-3"></div>
              <div class="text-wrapper-6">Last name</div>
              <div class="rectangle-4"></div>
            </div>
            <div class="overlap-5"><div class="text-wrapper-5">Email</div></div>
            <div class="overlap-6">
              <div class="rectangle-3"></div>
              <div class="text-wrapper-7">Password</div>
              <div class="rectangle-5"></div>
            </div>
            <div class="overlap-7"><div class="text-wrapper-8">Phone</div></div>
            <div class="overlap-8"><div class="text-wrapper-9">Re-password</div></div>
            <div class="overlap-9">
              <div class="rectangle-3"></div>
              <div class="rectangle-5"></div>
              <div class="text-wrapper-10">Address</div>
            </div>
            <div class="overlap-10"><div class="text-wrapper-11">Create account</div></div>
            <div class="overlap-11">
              <div class="text-wrapper-12">Sign up with email</div>
              <img class="envelope-solid" src="../static/registerpage/img/envelope-solid-2.svg" />
            </div>
            <div class="rectangle-6"></div>
            <div class="rectangle-7"></div>
            <div class="rectangle-8"></div>
            <div class="rectangle-9"></div>
            <div class="rectangle-10"></div>
            <div class="rectangle-11"></div>
            <p class="text-wrapper-13">Already have an account? Login</p>
            <div class="text-wrapper-14">Or</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
